@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SignIn">
			<div asp-validation-summary="ModelOnly"></div>
			<input class="text email" asp-for="Email" placeholder="Email" required="">
			<span asp-validation-for="Email" class="text-danger my-1"></span>
			<input type="submit" value="Forget Password" asp-action="SendEmail">
		</form>
	</div>
</div>


@section ValidationScripts {
	<partial name="_ValidationScriptsPartial" />
}



