@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword">
			<div asp-validation-summary="ModelOnly"></div>
			<input class="text" asp-for="NewPassword" placeholder="New Password" required="">
			<span asp-validation-for="NewPassword" class="text-danger my-1"></span>
			<input class="text mb" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			<span asp-validation-for="ConfirmPassword" class="text-danger my-1"></span>
			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>


@section ValidationScripts {
	<partial name="_ValidationScriptsPartial" />
}


